{% extends "base.html" %}

{% block flash %}
<div class="container mt-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message|safe}}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% block content %}

<div class="app-layout">

  <aside class="app-sidebar">
    {% block sidebar %}{% endblock %}
  </aside>

  <main class="app-content">
    <div class="container">
      {% block dashboard_content %}{% endblock %}
    </div>
  </main>

</div>

{% endblock %}
